.alia{
    background-color: blue;
}
.sharuk{
    background-color: red;
}
.nayana{
    background-color: yellow;
}
.rm{
    background-color: green;
}
.appu{
    background-color: aqua;
}

#rajni{
    background-color: brown;
}